@font-face {
	font-family: 'Pokemon hollow';
	src: url(./assets/Pokemon-Hollow.ttf);
}
@font-face {
	font-family: 'Pokemon solid';
	src: url(./assets/Pokemon-Solid.ttf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	border: 2px solid black;
	margin: 50px;
	display: flex;
	flex-direction: column;
	position: relative;
	
		.title--main {
			top: 0;
			left: 0;
			font-family: 'Pokemon Solid';
			font-size: 4rem;
			color: #ffcc03;
			letter-spacing: 0.8rem;
			font-weight: 700;
		}
}

// text-shadow: 
// 7px 7px 0 blue,
// 7px -7px 0 blue,
// -7px 7px 0 blue,
// -7px -7px 0 blue;


.card {
	border: 1px solid blue;
	height: 215px;
	width: 215px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, 215px);
}
